<div class="pokemon">
  <div class="row">
    <h1>List of Pokemons</h1>
    <div class="flexColRight">
      <div>
        <select name="cars" id="cars" (change)="onChange($event, 'sortValue')">
          <option
            *ngFor="let opt of sortOptions"
            [value]="opt.value"
            [selected]="opt.selected == true"
          >
            {{ opt?.label }}
          </option>
        </select>
        <select name="cars" id="cars" (change)="onChange($event, 'sortOrder')">
          <option
            *ngFor="let opt of sortOrders"
            [value]="opt.value"
            [selected]="opt.selected == true"
          >
            {{ opt?.label }}
          </option>
        </select>
      </div>
      <div class="flex">
        <div *ngFor="let item of filterOptions; let i = index">
          <label for="a">{{ item.name }}</label>
          <input
            type="radio"
            id="a"
            name="sample"
            [value]="item?.id"
            (change)="onChange($event, 'filterValue')"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="listData">
    <ng-container *ngIf="listData.length>0; else loading">
      <div class="row header-row">
        <label class="c-10">Number</label>
        <label class="c-10">Name</label>
        <label class="c-10">Type 1</label>
        <label class="c-10">Type 2</label>
        <label class="c-20">HP</label>
        <label class="c-20">Attack</label>
        <label class="c-20">Defense</label>
      </div>
      <div class="r-content" *ngFor="let item of listData; let i = index">
        <div *ngIf="item" class="row" (click)="showInfo(item, true)">
          <label class="c-10">{{ item?.number }}</label>
          <label class="c-10">{{ item?.name }}</label>
          <label class="c-10">{{ item?.type_1 }}</label>
          <label class="c-10">{{ item?.type_2 }}</label>
          <label class="c-20">{{ item?.hp }}</label>
          <label class="c-20">{{ item?.attack }}</label>
          <label class="c-20">{{ item?.defense }}</label>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="showPopup" class="popup">
    <div *ngIf="isLoading==false; else loading" class="popup__detail">
      <button class="popup__button" (click)="closeInfo()">X</button>
      <img  [src]="image" alt="nothing" />
      <div class="popup__detail-scroll">
        <div class="row">
          <label for="a">Id:</label>
          <span>{{ showItem?.id }}</span>
        </div>
        <div class="row">
          <label for="a">Number:</label>
          <span>{{ showItem?.number }}</span>
        </div>
        <div class="row">
          <label for="a">Name:</label>
          <span>{{ showItem?.name }}</span>
        </div>
        <div class="row">
          <label for="a">Type 1:</label>
          <span>{{ showItem?.type_1 }}</span>
        </div>
        <div class="row">
          <label for="a">Type 2:</label>
          <span>{{ showItem?.type_2 }}</span>
        </div>
        <div class="row">
          <label for="a">Total:</label>
          <span>{{ showItem?.total }}</span>
        </div>
        <div class="row">
          <label for="a">HP:</label>
          <span>{{ showItem?.hp }}</span>
        </div>
        <div class="row">
          <label for="a">Attack:</label>
          <span>{{ showItem?.attack }}</span>
        </div>
        <div class="row">
          <label for="a">Defense:</label>
          <span>{{ showItem?.defense }}</span>
        </div>
        <div class="row">
          <label for="a">Sp_atk:</label>
          <span>{{ showItem?.sp_atk }}</span>
        </div>
        <div class="row">
          <label for="a">Sp_def:</label>
          <span>{{ showItem?.sp_def }}</span>
        </div>
        <div class="row">
          <label for="a">Speed:</label>
          <span>{{ showItem?.speed }}</span>
        </div>
        <div class="row">
          <label for="a">Generation:</label>
          <span>{{ showItem?.generation }}</span>
        </div>
        <div class="row">
          <label for="a">Legendary:</label>
          <span>{{ showItem?.legendary }}</span>
        </div>
      </div>
      
    </div>
  </div>
  <ng-template #loading>
    <div *ngIf="isLoading" class="loader"></div>
  </ng-template>
</div>
