.pokemon {
  position: relative;
  select {
    text-align: center;
    padding: 0 1rem;
    margin: 0 0 0 1rem;
    border-radius: 5px;
    height: 30px;
  }
  .flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .row {
    display: flex;
    padding: 10px 0;
    border: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    :hover {
      cursor: pointer;
    }
    .c-20 {
      width: 20%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .c-10 {
      width: 10%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .row.header-row {
    font-weight: 600;
    background-color: grey;
    font-size: 20px;
    color: wheat;
  }
  .listData {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow: scroll;
  }
  .flexColRight {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .popup {
    position: absolute;
    z-index: 10;
    width: 100%;
    color: black;
    top: 0;
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      object-fit: cover;
      margin: 0 auto;
    }
    .popup__detail {
      padding: 1rem;
      height: 500px;
      border: 1px solid grey;
      border-radius: 5px;
      background-color: rgb(181, 206, 145);
      width: 40%;
      margin: 0 auto;
      .popup__detail-scroll {
        width: 100%;
        overflow: scroll;
        height: 80%;
        padding: 0 0.5rem;
      }
    }
    .popup__button {
      display: block;
      margin-left: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 40px;
    height: 40px;
    margin: auto auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
